*{
    margin:0;
    padding: 0%;
}

#content{
    /* background: url('./cafe.jpg'); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: relative; */
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: aqua;
    
}

#mainImg{
    position: sticky;
    width: 60%;
    /* z-index:-1; */
}